$primary: #13a9b6;

$secondary: #f75f00;
$secondary-dark: #c93838;

$background: #494a4e;
$text: #f1f1f2;
$border: #666;

$lighter: #5c5d61;
$light: #e9ecef;
$dark: #050405;
$accent: #43ab92;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';